* {
  font-family: "Roboto", sans-serif;
}

footer {
  background: linear-gradient(
    0deg,
    rgb(54, 129, 226) 0%,
    rgb(52, 98, 158) 3%,
    rgb(103, 190, 193) 9%,
    rgba(249, 249, 249, 1) 13%,
    rgba(255, 255, 255, 1) 100%
  );
}

jumbobg {
  background: rgb(123, 182, 230)
    url("/app_proyecto01/static/Images/jumbo-bg.jpg") no-repeat;
}
