{% load static %}
<html>
  <head>
    <title>JR Apps</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    <link rel="icon" href="{% static 'images/faviconGuota.ico' %}" />
  </head>
  <body>
    <div class="container">
      <header class="blog-header py-3">
        {% include "base-components/head.html"%}
      </header>
      <div>
        {% include "base-components/navbar.html"%}
      </div>

      {% block content %} {% endblock %}

      <footer class="container py-5">
        {%include "base-components/footer.html" %}
      </footer>
    </div>
  </body>
</html>
