{% extends 'base.html'%} {% load crispy_forms_tags %} {% block content %}
<h1>Contact Form</h1>
<form action="" method="post" novalidate>
  {% csrf_token %}
  <div class="row">
    <div class="col-4">
      {{ form.name | as_crispy_field }}
    </div>
    <div class="col-4">
      {{ form.email | as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      {{ form.phone | as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      {{ form.message | as_crispy_field }}
    </div>
  </div>

  <button type="submit" class="btn btn-success">
    Contact Us
  </button>
</form>
{% endblock %}
